@using InternetShop.Models.Shop.Entities
@model IEnumerable<InternetShop.Models.Shop.Entities.Category>

<div style="display:inline-block; border-right:1px solid  rgb(128, 127, 127); min-width: 250px; min-height: 1000px; float: left;  margin-right:30px; margin-top:10px">
    <h2 style="padding-left: 25px">Категории</h2>
    <ul>
        @foreach (var category in Model)
        {
            if (ViewBag.ThisCategory == category.Id)
            {
            <li style="background-color: #ff971b; padding: 5px; ">
                @Html.ActionLink(category.Name, "List", "Products", new { Page = 1, categoryId = category.Id }, null)
            </li>}
            else
            { <li style="padding: 5px;">
            @Html.ActionLink(category.Name, "List", "Products", new { Page = 1, categoryId = category.Id }, null)
        </li>}
            }
        <li style="padding: 5px;"> @Html.ActionLink("Все товары", "List", "Products", new { Page = 1 }, null)</li>
    </ul>

</div>
