@using InternetShop.Models.Shop.Entities
@model System.Data.Entity.DbSet<InternetShop.Models.Shop.Entities.Category>

@{
    ViewBag.Title = "Sort";
}

<div style="min-width: 220px; border-left: 1px solid  rgb(128, 127, 127); min-height: 1000px; float: right; margin-left: 5px; padding-left:25px">
    <h2>Sort</h2>
</div>
